@use 'assets/variables.scss' as *;

body {
  padding: 0;
  margin: 0;
  height: 100dvh;

  * {
    font-family: 'Courier New', Courier, 'Lucida Console', monospace;
    text-shadow: 2px 1px 6px $color;
  }
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}